/*page*/
.current-month {
    color: var(--other-title-color);
}
.no-file {
    color: var(--ico-color);
}
.container{
    margin:0 auto;
    padding:2em;
}
.calendar{
    background-color: var(--body-bg-color);
    border-radius: 10px;
    border: 1px solid var(--title-color);
}

