.header {
    border-radius: 10px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

    border-bottom:1px solid var(--title-color);
}

.toolbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
}

.buttonContainer {
    display: flex;
    align-items: center;
}

.button {
    background-color: transparent;
    border: none;
    color: var(--common-button);
    margin-right: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    color: var(--main-text-color);
    background-color: var(--common-button-hover-bg);
    transition: background-color 0.5s ease;
}