.home{
    max-width: 1400px;
    margin-top: 3rem;
    color:var(--strong-text-color)
}
.containerLeft{
    padding: 0.75rem;
    border: 1px solid var(--main-text-color);
    border-radius: 10px;
}
.containerRight{
    border: 1px solid var(--main-text-color);
    border-radius: 10px;
    margin-left: 5rem;
}
.timeTracker{
    padding: 1rem;
    /*border: 1px solid var(--main-text-color);*/
    border-radius: 10px;

}
.basicState{
    margin-top: 1rem;
    padding: 1rem;
    /*border: 1px solid var(--main-text-color);*/
    border-radius: 10px;
}

/*basicState*/
.basicStateContent{
}

.basicStateContent > div >p {
    border-bottom: 1px solid var(--main-text-color);
}

/*TimeTracker*/
.progressContainer + .progressContainer{
    padding: 0.75rem;
}
.timeTrackerValue {
    margin: 0 auto;
}

/*QuadrantChart*/
.quadrantChart{
    padding: 0.75rem;
    /*border: 1px solid var(--main-text-color);*/
    border-radius: 10px;
}
.defaultContent{
    /*border: 1px solid var(--main-text-color);*/
    border-radius: 10px;
    margin: 0 1rem;
    max-height: 430px;
    overflow: auto;
}
.upperRight{
    max-height: 500px;
    min-height: 500px;
    border-radius: 10px;
    border-bottom: 1px solid var(--title-color);

}
.lowerRight{

}

/*over flow*/
.defaultContent::-webkit-scrollbar {
    width: 3px; /* 设置滚动条宽度 */
}

.defaultContent::-webkit-scrollbar-thumb {
    background-color: var(--main-text-color);
    border-radius: 3px;
}



