.home{
    max-width: 1400px;
    margin-top: 3rem;
    color:var(--strong-text-color)
}
.containerLeft{
    padding: 0.75rem;
    border: 1px solid var(--main-text-color);
    border-radius: 10px;
    margin: 0 auto;
}
.containerRight{
    border: 1px solid var(--main-text-color);
    border-radius: 10px;
    margin: 0 auto;
}
.timeTracker{
    padding: 1rem;
    /*border: 1px solid var(--main-text-color);*/
    border-radius: 10px;

}
.basicState{
    margin-top: 1rem;
    padding: 1rem;
    /*border: 1px solid var(--main-text-color);*/
    border-radius: 10px;
}

/*basicState*/
.basicStateContent{
    min-height: 330px;
    max-height: 330px;

    /*border-bottom: 1px solid var(--main-text-color);*/

}
.basicStateContainer{
    min-height: 600px;
    max-height: 600px;

    /*border-bottom: 1px solid var(--main-text-color);*/

}

.basicStateContent > div > p {
    border-bottom: 1px solid var(--main-text-color);
}

/*TimeTracker*/
.progressContainer + .progressContainer{
    padding: 0.75rem;
}
.timeTrackerValue {
    margin: 0 auto;
}

/*QuadrantChart*/
.basicStateChart{
    padding: 0.75rem;
    /*border: 1px solid var(--main-text-color);*/
    border-radius: 10px;
}
.chartContent{

}
.chartControlButtons{
    border-right: 1px solid var(--main-text-color);
    padding-right: 0 !important;
}
.chartControlButtons > button{
    background-color: transparent;
    border-color:var(--title-color);
    border-radius: 10px 0 0 10px;
    border-right: none;
    margin-right: 0;
    width: 100%;
}
.chartControlButtons > button + button{
    margin-top: 0.5em;
}

.defaultContent{
    /*border: 1px solid var(--main-text-color);*/
    border-radius: 10px;
    margin: 0 1rem;
    max-height: 430px;
    overflow: auto;
}
.upperRight{
    max-height: 500px;
    min-height: 500px;
    border-radius: 10px;
    border-bottom: 1px solid var(--title-color);

}
.lowerRight{

}

/**/
.defaultOverFlow{
  overflow: auto;
}

/*chart button*/
.chartButtonChoose{
    background-color: transparent;
    border-color:var(--title-color);
    border-radius: 0 0 10px 10px;
    border-top:none;
    padding-top:0.5rem;
}
.selectedButton{
    border-color:var(--strong-text-color);
}
.chartButtonChoose + .chartButtonChoose{
    margin-left: 1rem;
}

/*over flow*/
.defaultContent::-webkit-scrollbar {
    width: 3px; /* 设置滚动条宽度 */
}

.defaultContent::-webkit-scrollbar-thumb {
    background-color: var(--main-text-color);
    border-radius: 3px;
}





