

/*todolist page*/

.todoListControlButton{
    background-color: var(--table-bg-color);
    padding-left : 0.75rem;
    padding-right : 0.75rem;
}
.todoContainer{
    border-radius: 10px;
    border: 1px solid var(--main-text-color);

}

.buttonChoose{
    color:var(--strong-text-color);
    border-color:var(--title-color);
    border-radius: 10px 10px 0 0;
    border-bottom:none;
    padding-top:0.5rem;
}
.buttonBlock{
    padding-top:1rem;
}

.todoListContainer{
    max-width:1600px;
    margin:0 auto;
}
.todoListContext{
    background-color: var(--table-bg-color);
}

.todoListTableButton{
    border:0;
    text-align: center;
}


/*todolist table */


.listTitle, .listButton {
    padding: 5px;
    color: var(--main-text-color);
    text-align: center;

}

.listTitle {
    border-bottom: 2px solid var(--table-bg-color);
}

.listButton {
    padding: 0;
    margin: 0;
    border-style: solid;

}

.listContextDone {
    width:100%;
    color: var(--strong-text-color);

}

.listContext {
    padding: 5px;
    text-align: center;
    color: var(--strong-text-color);
    border-bottom: 1px solid var(--main-text-color);
}

.listTable {
    min-width: 100%;

}

.listUnit {

}

.TimeLineItem{
    min-height: 50px;
}
.TimeLineItemTime{
    color:var(--main-text-color)
}
.TimeLineItemTitle{
    color:var(--strong-text-color)
}

.tableContent{
    text-align: center;
    padding: 1em;
    justify-content: center;
    overflow: auto;
    max-height: 650px;
}
.tableContent::-webkit-scrollbar {
    width: 3px; /* 设置滚动条宽度 */
}

.tableContent::-webkit-scrollbar-thumb {
    background-color: var(--main-text-color);
    border-radius: 3px;
}
