

/*todolist page*/

.todoListControlButton{
    background-color: var(--table-bg-color);
    padding-left : 0.75rem;
    padding-right : 0.75rem;
}
.todoContainer{
    border-radius: 10px;
    border: 1px solid var(--main-text-color);

}

.buttonChoose{
    color:var(--strong-text-color);
    border-color:var(--title-color);
    border-radius: 10px 10px 0 0;
    border-bottom:none;
    padding-top:0.5rem;

}
.buttonBlock{
    padding-top:1rem;
}

.todoListContainer{
    max-width:1600px;
    margin:0 auto;
}
.todoListContext{
    background-color: var(--table-bg-color);
}

.todoListTableButton{
    border:0;
    text-align: center;
}


/*todolist table */
.box {
    text-align: center;
    padding: 1em;
    display: flex;
    justify-content: center;

}

.listTitle, .listButton, .listContext {
    padding: 5px;
    color: var(--main-text-color);
    text-align: center;

}

.listTitle {
    border-bottom: 2px solid var(--table-bg-color);
}

.listButton {
    padding: 0;
    margin: 0;
    border-style: solid;

}

.listContextDone {
    width:100%;
    color: var(--strong-text-color);

}

.listContext {
    color: var(--strong-text-color);
    border-bottom: 1px solid var(--main-text-color);
}

.listTable {
    min-width: 90%;

}

.listUnit {

}
